[class*="shadow"] {
    @if $enable-transitions {
        transition: $transition-base;
    }
}

.shadow-sm--hover:hover {
    box-shadow: $box-shadow-sm !important;
}

.shadow--hover:hover {
    box-shadow: $box-shadow !important;
}

.shadow-lg--hover:hover {
    box-shadow: $box-shadow-lg !important;
}

.shadow-none--hover:hover {
    box-shadow: none !important;
}

.shadow-bottom {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}