.img-logo {
    width: 80px;
}

.nav {
    .nav-item {
        .nav-link {
            font-size: 95%;
            font-weight: 600;
            padding: .75em 0;
            letter-spacing: 1px;
        }
    }
}